header {
    background-color: #4b9ec2;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    }
    nav li {
    margin: 0 20px;
    }
    nav a {
    text-decoration: none;
    color: #fff;
}

footer {
    text-align: center;
    text-decoration-color: #fff;
    padding: 10px;
    background-color: #4b9ec2;
    color: #fff;
}

.date{
    text-align: center;
    text-decoration-color: #151414;
    padding: 10px;
    background-color: #cd1515;
    color: #fff;
}
.about{

}